.card-container {
    width: 300px;
    padding: 20px;
    /* height: 350px; */
    background-color: rgb(247, 247, 247);
    border-radius: 10px;
    border: 2px solid orange;
    box-shadow: 3px 3px 15px #f87979;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 20px;
}

.image-contanier {
    width: 100%;
    border-radius: 10px;
    height: 200px;
    box-shadow: 5px 5px 20px #646060;
}

.recipe-name {
    width: 100%;
    padding-left: 10px;
    font-weight: bold;
    font-size: 25px;
    color: #2c2c2c;
    font-family: monospace;
    text-align: center;
}

.recipe-desc {
    font-size: 15px;
    color: #000000;
    padding-left: 10px;
}

.price-button-container {
    display: flex;
    width: 100%;
    justify-content: space-evenly;
    align-items: center;
    font-size: 25px;
}

.custom-button {
    width: 100%;
    height: 30px;
    border-radius: 5px;
}

.price-tag {
    font-weight: bold;
    color: rgb(38, 38, 38);
}